[user]
    email = ck89119@gmail.com
    name = Cao Kai
[color]
    ui = true
[core]
    excludesfile = ~/.dotfile/.gitignore.global
    editor = vim
    pager = delta
[pager]
    branch = false
    stash = false
    config = false
    tag = false
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    line-numbers = true
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
